form {
  display: grid;

  input,
  select {
    width: 30rem;
  }

  .field {
    display: flex;
    flex-flow: row wrap;
    label {
      margin-right: 10px;
    }
    &__radio {
      flex-flow: row wrap;
    }
    input,
    select,
    &__radio {
      width: 80%;
    }
    input[type="checkbox"],
    input[type="radio"] {
      max-width: 10%;
    }
  }
}

.error{
  color:red;
}
