<form class="form form--col4" #miForm="ngForm">
  <label for="customer_id">*Código</label>
  <input
    type="number"
    [class.is-invalid]="codigo.invalid"
    id="customer_id"
    name="customer_id"
    [(ngModel)]="vm.Elemento.codigo"
    #codigo="ngModel"
    placeholder="Código del usuario"
    required
    data-label="otro"
    min="0"
  /><output class="error" [myShowErrors]="codigo.errors"></output>
  <label for="store_id">Tienda</label>
  <select
    id="store_id"
    name="store_id"
    [(ngModel)]="vm.Elemento.tienda"
    #tienda="ngModel"
  >
    <option value="Tienda1">Tienda 1</option>
    <option value="Tienda2">Tienda 2</option>
  </select>
  <label for="first_name">*Nombre</label>
  <input
    type="text"
    [class.is-invalid]="nombre.invalid"
    id="first_name"
    name="first_name"
    [(ngModel)]="vm.Elemento.nombre"
    #nombre="ngModel"
    required
    minlength="2"
    maxlength="50"
    data-label="Nombre"
    minlength="2"
    maxlength="10"
  /><output class="error" [myShowErrors]="nombre.errors"></output>
  <label for="last_name">Apellidos</label>
  <input
    type="text"
    [class.is-invalid]="apellidos.invalid"
    id="last_name"
    name="last_name"
    minlength="2"
    maxlength="50"
    [(ngModel)]="vm.Elemento.apellidos"
    #apellidos="ngModel"
    minlength="2"
    maxlength="10"
  /><app-show-errors-messages
    [errors]="apellidos.errors"
  ></app-show-errors-messages>
  <label for="email">*Correo</label>
  <input
    type="email"
    [class.is-invalid]="correo.invalid"
    id="email"
    name="email"
    placeholder="Correo electrónico"
    [(ngModel)]="vm.Elemento.correo"
    #correo="ngModel"
    required
    email
  /><output class="error" [myShowErrors]="correo.errors"></output>
  <div class="field">
    <label for="address_id">Dirección</label>
    <div
      class="field__radio"
    >
      <input
        type="radio"
        id="address_id"
        name="address_id"
        [(ngModel)]="vm.Elemento.direccion"
        checked
        value="Casa"
      />
      Casa
      <input type="radio" name="address_id" [(ngModel)]="vm.Elemento.direccion" value="Trabajo" />
      Trabajo
    </div>
  </div>
  <label for="active">Activo</label>
  <input
    type="checkbox"
    id="active"
    name="active"
    value="true"
    [(ngModel)]="vm.Elemento.activo"
    #activo="ngModel"
    checked
  />
  <label for="create_date">F. Creación</label>
  <input
    type="date"
    id="create_date"
    name="create_date"
    [(ngModel)]="vm.Elemento.fechaCreacion"
    #fechaCreacion="ngModel"
    pastOrPresent
  />
  <label for="last_update">Última modificacion</label>
  <input
    type="date"
    id="last_update"
    name="last_update"
    [(ngModel)]="vm.Elemento.ultimaModificacion"
    #ultimaModificacion="ngModel"
  />
  <label for="nif">*DNI</label>
  <input
    type="text"
    [class.is-invalid]="dni.invalid"
    id="nif"
    name="nif"
    required
    minlength="2"
    [(ngModel)]="vm.Elemento.dni"
    #dni="ngModel"
  />
  <app-show-errors-messages [errors]="dni.errors"></app-show-errors-messages>
  <app-form-buttons
    (send)="vm.send()"
    (cancel)="vm.cancel()"
    [send-disabled]="miForm.invalid"
  ></app-form-buttons>
</form>
