body{
    background-color: #eee;

}

main form{
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    padding-right: 4em;
    padding-left: 4em;
    border-radius: 1em;
    margin-top: 5em;
    margin-bottom: 5em;
}


main form div{
    display: block;
    margin:auto;
    padding: 1em;
}

main form div label{
    margin-right: 2em;
}

main form div select{
    background-color: transparent;
    border-color: #eee;
}

main form div select:hover{
    background-color: #eee;
}

main form div input{
    margin-top: 1em;
    border: none;
    border-bottom: 1px #eee solid;
    background-color: transparent;
}

.form-buttons input{
    border: 1px #eee solid;
    padding: 2px 1em 2px 1em;
}

.form-buttons input:hover{
    background-color: #eee;
}